html {
    font-family: 'PT Serif', serif;
}
body {
        font-family: 'Hanken Grotesk', sans-serif;
        font-family: 'PT Sans', sans-serif;
        font-family: 'PT Serif', serif;
    }
navigation {
    container {
    background-image: url(images/img1.png);
    }
    div {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.65) 100%);
    }
}


